{% extends "base.html" %}

{% block content %}


    <h1>My Blog</h1>
    
    <body>
        <p><a href="{{ url_for('n_post') }}">Submit a new form</a></p>
    </body>
    <div>

    </div>

    <ul>
        {% for blog in blogs %}
        <h2>
            <a href='/blogpost?id={{blog.id}}'>{{blog.title}}</a>
        </h2>
        
        <p>{{blog.body}}</p>

         
            <p>written by: <a href='/singleUser?id={{blog.owner_id}}'>{{blog.owner.email}}</a></p>

        
        {% endfor %} 
    </ul>



{% endblock %}